'menu': [
  {
    'label': 'Maker IDE'
    'submenu': [
        { 'label': 'Preview product', 'command': 'maker-ide-atom:toggle' },
        { 'label': 'Make product', 'command': 'maker-ide-atom:fabricate-product' }
    ]
  }
]
